@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: red;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 100px;
}

.header-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 20px;
}



.intro {
    background-color: green;
    padding: 20px;
    text-align: center;
}

.content {
    background-color: yellow;
    padding: 20px;
    text-align: center;
}

.quote {
    background-color: blue;
    padding: 20px;
    text-align: center;
}

.footer {
    background-color: orange;
    padding: 20px;
    text-align: center;
}
```
```